@font-face {
  font-family: "Hack";
  font-style: normal;
  font-display: swap;
  src: url(./fonts/hack.ttf);
}

:root {
  /* Minor size adjustments to remove text wrapping */
  --vp-layout-max-width: 1460px;
  --vp-sidebar-width: 280px;

  --vp-font-family-mono: Hack, "Roboto Mono", "Roboto Mono Static", ui-monospace, monospace;
  --vp-code-line-height: 1.5;
  --vp-code-font-size: 12px;

  /* Prevent layout shift when toggling from overflowing page to non-overflowing */
  overflow-y: scroll;
}

/* Fix text wrapping in the sidebar */
.VPSidebarItem .VPLink {
  word-break: break-all;
}

/* Add scrollbars to the page contents */
.VPDoc .aside-container {
  --top: calc(var(--vp-nav-height) + var(--vp-layout-top-height, 0px) + var(--vp-doc-top-height, 0px));

  scrollbar-width: thin;
  padding-top: 0;
  margin-top: var(--top);
  height: calc(100vh - var(--top));
}

/* Make title fit nicer */
.VPNavBarTitle .title {
  font-size: 14px;
}
